[defaults]
# Point to your local inventory file
inventory = ./hosts.ini

# Disable host key checking
host_key_checking = False

# Make output easier to read
result_format = yaml

[ssh_connection]
transfer_method = scp

# ssh_common_args = -o KbdInteractiveAuthentication=yes
ssh_args = -C -q -tt
ssh_common_args = -o KbdInteractiveAuthentication=yes -o PreferredAuthentications=keyboard-interactive,publickey -o PasswordAuthentication=yes
# ssh_args = -C -o ControlMaster=auto -o ControlPersist=60m -o ControlPath=/tmp/ansible-%%h-%%p-%%r

# Force Ansible to use your mccli wrapper script
ssh_executable = ./wrapper_ssh_mccli.sh
scp_executable = ./wrapper_scp_mccli.sh

# Enable pipelining to bypass mccli quoting bugs and the SCP phase entirely
pipelining = True
